#aboutheader {
  color: #0e452c
}
<style>
	@font-face {
		font-family: Monotype;
		src: url(assets/fonts/gt.otf )format("opentype");
	}

	* {
		box-sizing: border-box;
	}

	body {
		align-items: center;
		display: flex;
		font: 0.8rem/1rem Verdana, Geneva, Tahoma, sans-serif;
		flex-direction: column;
		justify-content: center;
		margin: 0;
		padding: 0;
		background-color: #ffffff;
		color: black;
	}

	.item {
		margin-bottom: 0.6rem;
	}

	p {
		margin: 0;
	}

	a {
		color: #2dbd7c;
	}

	a:hover {
		color: #0e452c;
	}

	.left {
		text-align: left;
	}

	#header,
	#footer {
		background: #eceff1;
    color: black;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		/* Roboto Mono', Verdana, Geneva, Tahoma, sans-serif;
     */
		padding: 0.4rem 0.8rem;
		width: 960px;
	}

	#header {
		display: flex;
		justify-content: space-between;
	}

	#header h1 {
		font-size: 0.8rem;
		margin: 0;
	}

	#header h1 a {
		color: black;
		text-decoration: none;
	}

	#header h1 a:hover {
		color: black;
		text-decoration: underline;
	}

	nav ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	nav ul li {
		padding: 0 0 0 0;
	}

	nav a {
		color: black;
		text-decoration: none;
	}

	nav a:hover {
		color: black;
		text-decoration: underline;
	}

	.main {
		background-color: #dde4e7;
		width: 960px;
	}

	.item__urls {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		/* 'Roboto Mono', Verdana, Geneva, Tahoma, sans-serif;
     */
	}

	.item__urls>a:first-child {
		color: #2dbd7c;
		text-decoration: none;
	}

	.item__urls>a:first-child:hover {
		color: #0e452c;
		text-decoration: underline;
	}

	.item__siteurl,
	.item__siteurl>*,
	.item__count {
		color: black;
		font-size: 0.7rem;
		text-decoration: none;
	}

	.item__meta {
		font-size: 0.6rem;
		margin-top: 0;
	}

	.item__meta>* {
		color: black;
		margin-right: 0.5rem;
	}

	.item__count {
		margin: 0 0 0 0.5rem;
	}

	ul.pagination {
		display: flex;
		list-style: none;
	}

	ul.pagination li {
		margin: 0 0.4rem 0 0;
	}

	ul.pagination li a {
		border: 1px solid white;
		border-radius: 3px;
		display: block;
		padding: 0.3rem;
		text-align: center;
		text-decoration: none;
		width: 32px;
	}

	ul.pagination li.active a {
		border-color: orange;
	}

	.single {
		padding: 1rem;
	}

	.single code {
		background: #2dbd7c;
		font-size: 1rem;
		padding: 0 0.5rem;
	}

	@media (max-width: 960px) {
		#header,
		.main,
		#footer {
			width: 100%;
		}
	}

	.timeline {
		display: flex;
	}

	.popup {
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		margin-bottom: 20px;
	}

	section {
		width: 100%;
	}
</style>